{{ define "main" }}

    <div class="main-page">
      <div class="main-banner">
        <div class="item">
          <img src="{{ .Params.banner }}" alt="">
          <h1 class="main-banner-caption">Banner caption</h1>
        </div>
        <div class="item">
            <img src="{{ .Params.banner }}" alt="">
            <h1 class="main-banner-caption">Banner caption</h1>
          </div>
        
      </div>
    </div>

{{ end }}