.page-main {
  &#home-page {
    @extend %flex-column;
    align-items: center;
    justify-content: center;
  }
  .main-banner {
    flex-grow: 1;
    position: relative;
    &-caption {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate( -50%, -50%);
      color: white;
      text-shadow: 0 0 2px #000;
    }
  }
  .main-page {
    text-align: center;
    max-width: 100%;
    flex-grow: 1;
  }
}